body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.container{
    background-color: #EEE;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .card{
        flex-basis: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .card{
        flex-basis: 45%;
    }
}
@media screen and (min-width: 993px){
    .card{
        flex-basis: 20%;
    }
}
.profileImage{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.captionImage{
    margin-top: 1rem;
    width: 100%;
    flex-grow: 1;
}
.card{
    padding: 1rem;
    border: gray solid 1px;
    margin: 1rem;
    /* display: inline-block; */
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
}

.social{
    justify-content: flex-end;
}
.heartIcon{
    margin-right: 0.5rem;
}
hr{
    width: 100%;
    opacity: 0.2;
}
.likes{
    display: inline-flex;
    float: initial;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cardImage{
    height: auto;
}
#btn{
    margin: auto;
    margin-top: 2rem;
    display: block;
}
.nameContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardCaption{
    display: flex;
    flex-grow: 1;
}
.cardFooter{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}